.footer
  %ul#bottomnav
    %li= link_to('Blog.Cullect.com', 'http://blog.cullect.com')
    %li= link_to('About Cullect.com', 'http://blog.cullect.com/about')
    %li= link_to('Contact', 'http://cullect.com/help')
    %li &copy; 2007-8 Working Pathways, Inc